default:
    suites:
        default:
            FriendsOfBehat\SymfonyExtension:
                bootstrap: ~
                kernel:
                    class: ~
                    path: ~
                    environment: ~
                    debug: ~